<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>ad-hoc</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
	<key>uploadBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<false/>
	<key>provisioningProfiles</key>
	<dict>
		<key>cn.mucang.ios.jiakaobaodianhuoche</key>
		<string>d53a957d-73e0-4880-9a38-96983677537f</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution: JIANG YINGHAO (VY36DAXN9S)</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>VY36DAXN9S</string>
</dict>
</plist>
